@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles (optional) */
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* index.css or your main CSS file */
@layer base {
  @font-face {
    font-family: 'Iran Sans';
    src: url('./assets/fonts/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Iran Sans';
    src: url('./assets/fonts/IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
  }

  /* Set as default font */
  html {
    font-family: 'Iran Sans', system-ui, sans-serif;
  }
}